.env

input_videos/**/*
!input_videos/


output_frames/**/*
!output_frames/

collages_folder/**/*
!collages_folder/

env

sceen_tree.json
scene_tree.pkl

__pycache__
graph-layer-implementation/cluerag/__pycache__